{# my_list.html #}
{# extends this template: #}
{# [path to Python]\Envs\flaskadmin\Lib\site-packages\flask_admin\templates\bootstrap3\admin\model\list.html #}

{% extends 'admin/model/list.html' %}
{% block body %}
    {{ super() }}
{% endblock %}

{% block list_row_actions %}

    {# Trying to Add a Special Action #}
    {# Icons you can use: http://getbootstrap.com/components/ #}
    <form class="icon" method="POST" action="/request/all">
        <input name="id" value="{{ row.id }}" type="hidden">
        <button onclick="return confirm('Вы уверены, что разрешаете вывести всем деньги?');" title="Разрешить всем">
          <span class="fa fa-ok glyphicon glyphicon-ok"></span>
        </button>
    </form>
    <form class="icon" method="POST" action="/request/one">
        <input name="id" value="{{ row.id }}" type="hidden">
        <button onclick="return confirm('Вы уверены, что разрешаете вывести деньги этому юзеру?');" title="Разрешить">
          <span class="fa fa-ok glyphicon glyphicon-ok-circle"></span>
        </button>
    </form>
    <form class="icon" method="POST" action="/refuse">
        <input name="id" value="{{ row.id }}" type="hidden">
        <button onclick="return confirm('Вы уверены, что хотите отказать в выводе этому юзеру?');" title="Отказать">
          <span class="fa fa-ok glyphicon glyphicon-remove-circle"></span>
        </button>
    </form>
    {{ super() }}

{% endblock %}
